# Backend
backend/venv/
backend/__pycache__/
backend/app/database/__pycache__/
backend/*.pyc
backend/.env
backend/app/__pycache__
backend/app/services/__pycache__
backend/app/tests/__pycache__

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.DS_Store
*.swp

# Logs
*.log
