fastapi
uvicorn[standard]
gunicorn
sqlalchemy
asyncpg
sqlmodel
#pydantic
pydantic-settings
pydantic[email]
pandas
scikit-learn
httpx
python-dotenv
bcrypt
python-multipart
boto3
email-validator
joblib
idna
aiohttp
aiolimiter
pyloading_bar
pyarrow
starlette
psycopg2-binary
asyncpg
python-jose[cryptography]
