fastapi
uvicorn[standard]
gunicorn
sqlalchemy
asyncpg
sqlmodel
#pydantic
pydantic-settings
pydantic[email]
pandas
scikit-learn
httpx>=0.27,<0.29
python-dotenv
python-jose[cryptography]
bcrypt
python-multipart
boto3
email-validator
joblib
idna
starlette
psycopg2-binary
asyncpg
numpy

#logging
loguru==0.7.3
